.expanded-toggle {
  display: none !important;
}
#videobanner, .video-wrapper {
  height: 85vh !important;
  margin: 0 !important;
}
#customSalesEventRow {
  margin: 0 !important;
  width: 100vw !important;
  background: #fff !important;
  display: inline-block !important;
}
#customSalesEventRow .container-wide {
  padding: 0 !important;
  display: inline-block !important;
  width: 100vw !important;
  max-width: 100vw !important;
  margin: -10px auto 0 auto !important;
}

.expanded-row-content {
  margin: -5px 0 0 0 !important;
}

infobar {
  margin: 0;
  position: absolute;
  background: #111;
  z-index: 1;
  background: #303030;
  width: 100vw;
  positon: absolute;
}
infobar::after {
  content: "";
  display: block;
  clear: both;
}
.infobar {
  display: inline;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  font-weight: bold;
  text-transform: uppercase;
  height: 12.5vh;
  color: #fff;
  font-size: 4em;
  margin: -10px 0 0 0;
}
.one {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://di-uploads-pod12.dealerinspire.com/autosource/uploads/2018/04/flood_to_track-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 59%;
  height: 100%;
  cursor: pointer;
}
.two {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("https://2.bp.blogspot.com/-lbcDA66tCfM/WrCLnTFoTsI/AAAAAAAAREs/ZPF1tTkXzvUOx3SO9UYbKQ6u1I3lXAETgCLcBGAs/s1600/IMG_5146.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  cursor: pointer;
}
.odyssey {
  padding: 0 !important;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://di-uploads-pod12.dealerinspire.com/autosource/uploads/2018/04/2018HondayOdyssey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 50%;
  height: 100%;
}
.pilot {
  padding: 0 !important;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://di-uploads-pod12.dealerinspire.com/autosource/uploads/2018/04/2018HondaPilot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 50%;
  height: 100%;
}
.hoverbox {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(204, 0, 0, .2);
  opacity: 0;
  transition-duration: 0.3s
}
.one:hover>.hoverbox {
  opacity: 1;
  transition-duration: 0.3s
}
.two:hover>.hoverbox {
  opacity: 1;
  transition-duration: 0.3s
}
.dropdown {
  width: 100vw;
  display: none;
}
.dropdown * {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.dropdown a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
.dropdown .row {
  display: flex;
}
.title {
  transition-duration: 0.3s
}
.title:hover {
  background: #cc0000;
  transition-duration: 0.3s
}
.banner h1 {
  z-index: 2;
  font-size: .55em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: .55em;
  }
  .dropdown {
    position: absolute;
    top: 305px;
    display: none;
  }
}
